.idea
__pycache__/
Trabalho 2/.RData
Trabalho 2/R.Rproj
Trabalho 2/.Rhistory
Trabalho 2/rsconnect
Trabalho 2/README.html
.Rproj.user
.Rhistory
README.html
SCC0252-Visualizacao-Computacional.Rproj
Trabalho 2/src/ui/.Rhistory